# Entornos Virtuales
.venv/
venv/
env/
ENV/

# Archivos y carpetas generados por Python
__pycache__/
*.py[cod]
*$py.class

# Herramientas de Test (pytest, etc.)
.pytest_cache/
.coverage
htmlcov/

# Salidas de resultados (opcional, si no deseas versionar los json generados temporalmente)
# data/output/*.json
